@model IEnumerable<PCApp.Models.Assignment>

@{
    ViewBag.Title = "DeckContainer";
}

<h2>DeckContainer</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Card.CardName)
        </th>
        <th>
            Card Image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Card.CardName)
        </td>
        <td>
            <img src="..\..\@Url.Content(item.Card.ImageURL)" alt="Image" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssignmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssignmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssignmentID })
        </td>
    </tr>
}

</table>
