@model IEnumerable<PCApp.Models.Card>

@{
    ViewBag.Title = "NewDeck";
}

<h2>New Deck</h2>

<div class="container">@* Column Headers *@
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-3">
                    <h4>Card Info</h4>
                </div>
                <div class="col-lg-9">
                    <h4>Image</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <h4>Deck List</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container">@* Actual Info *@
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-3">
                    @* card info *@
                    @foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                @item.CardName
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                @item.CardType
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                @item.Set
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                @item.Deck
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-9">
                    @* image *@
                    @foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="..\..\@Url.Content(item.ImageURL)" alt="@item.CardName" class="MyImage" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    @* decklist *@
                    Deck List
                </div>
            </div>
        </div>
    </div>
</div>