@model IEnumerable<PCApp.Models.Card>

@{
    ViewBag.Title = "New Deck";
    string sID;
}

<h2>New Deck</h2>
<div class="container">
    @* Submition *@
    <div class="row">
        <div class="col-lg-4">
            <h5>Deck Name:</h5>
            <input id="DeckName" class="MyBlock" type="text" />
            <input id="SubmitDeck" type="button" class="MyBlock" onclick="sendArray();" value="Save Deck" />
        </div>
    </div>
</div>
<hr />
<div class="container">
    @* Column Headers *@
    <div class="row">
        <div class="col-lg-3">
            <h4>Card Info</h4>
        </div>
        <div class="col-lg-6">
            <h4>Image</h4>
        </div>
        <div class="col-lg-3">
            <h4>Deck List</h4>
            <input class="MyBlock" type="button" onclick="removeText();" value="Remove Card From Deck" />
        </div>
    </div>
</div>
<hr />
<div class="container">
    @* Actual Info *@
    <div class="row">
        <div class="col-lg-3">
            @* card info *@
            @foreach (var item in Model)
            {
                <div class="MyBlock">
                    @item.CardName
                </div>
                <div class="MyBlock">
                    @item.CardType
                </div>
                <div class="MyBlock">
                    @item.Set
                </div>
                <div class="MyBlock">
                    @item.Deck
                </div>
            }
        </div>
        <div class="col-lg-6">
            @* image *@
            @foreach (var item in Model)
            {
                <input type="image"
                       class="MyImage"
                       src="..\..\@Url.Content(item.ImageURL)"
                       onclick="addToDeckList('@item.CardName');" />
            }
        </div>
        <div class="col-lg-3">
            @* DeckList *@
            @for (int x = 0; x < 10; ++x)
            {
                sID = "DL" + x.ToString();
                <div id="@sID">
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/MyJavaScript.js"></script>