@model PCApp.Models.User

@{
    ViewBag.Title = "UserProfile";
}

<h2>User Profile</h2>

<div>
    <h4>@Html.DisplayFor(model => model.UserName)</h4>
</div>
<hr />
<div>
    <h4>@Html.DisplayNameFor(model => model.Decks)</h4>
    <h4><input type="button" value="New Deck"/></h4>
    <table>
        @foreach (var item in Model.Decks)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.DeckName, "DeckDetails", new { id = item.DeckID })
                </td>
                <td>                   
                    <input type="button" value="Delete Deck" 
                    onclick="location.href='@Url.Action("DeleteDeck", "Home", new { id=item.DeckID })'"/>
                    @*<input type="button" value="Delete Deck"
                    onclick="deleteItem(@item.DeckID);@Html.ActionLink("", "DeleteDeck", null, new { id="myLink"})"/>*@
                </td>
                <td>
                    <input type="button" value="Play"
                    onclick="location.href='@Url.Action("PlayDeck", "Home", new { id=item.DeckID })'"/>
                </td>
            </tr>
        }
    </table>
</div>
@*<script src="~/JS/MyJavaScript.js"></script>*@