@model PCApp.Models.User

@{
    ViewBag.Title = "UserProfile";
    string sID;
    int x = 0;
}

<h2>User Profile</h2>

<div>
    <h4>@Html.DisplayFor(model => model.UserName)</h4>
</div>
<hr />
<div>
    <h4>@Html.DisplayNameFor(model => model.Decks)</h4>
    <h4><input type="button" value="New Deck"
        onclick="location.href='@Url.Action("NewDeck", "Home")'"/></h4>
    <table>
        @foreach (var item in Model.Decks)
        {
            sID = x.ToString();
            ++x;
            <tr id="@sID">
                <td>
                    @Html.ActionLink(item.DeckName, "DeckDetails", new { id = item.DeckID })
                </td>
                <td>
                    @*<input type="button" value="Delete Deck" onclick="myDeleteDBObjectFunction(@item.DeckID); myHideFunction(@sID);"/>*@
                    <input type="button" value="Delete Deck" onclick="myDeleteDBObjectFunction(@item.DeckID); myRemoveElementFunction(@sID);"/>
                </td>
                <td>
                    <input type="button" value="Play" onclick="location.href='@Url.Action("PlayDeck", "Home", new { id=item.DeckID })'"/>
                </td>
            </tr>
        }
    </table>
</div>
<script src="~/Scripts/MyJavaScript.js"></script>